.transparent-dull-magenta {
  color-index:               109;
  border-top-color-index:    109;
  border-right-color-index:  109;
  border-bottom-color-index: 109;
  border-left-color-index:   109;
}
