.transparent-bright-yellow {
  color-index:                68;
  border-top-color-index:     68;
  border-right-color-index:   68;
  border-bottom-color-index:  68;
  border-left-color-index:    68;
}
