.transparent-light-purple-blue {
  color-index:               100;
  border-top-color-index:    100;
  border-right-color-index:  100;
  border-bottom-color-index: 100;
  border-left-color-index:   100;
}
