.transparent-darker-magenta {
  color-index:                90;
  border-top-color-index:     90;
  border-right-color-index:   90;
  border-bottom-color-index:  90;
  border-left-color-index:    90;
}
