.transparent-light-purple {
  color-index:               112;
  border-top-color-index:    112;
  border-right-color-index:  112;
  border-bottom-color-index: 112;
  border-left-color-index:   112;
}
