.transparent-medium-yellow-green {
  color-index:               113;
  border-top-color-index:    113;
  border-right-color-index:  113;
  border-bottom-color-index: 113;
  border-left-color-index:   113;
}
