.transparent-bright-yellow-green {
  color-index:               101;
  border-top-color-index:    101;
  border-right-color-index:  101;
  border-bottom-color-index: 101;
  border-left-color-index:   101;
}
