.transparent-light-orange {
  color-index:               124;
  border-top-color-index:    124;
  border-right-color-index:  124;
  border-bottom-color-index: 124;
  border-left-color-index:   124;
}
