.transparent-light-blue-green {
  color-index:               115;
  border-top-color-index:    115;
  border-right-color-index:  115;
  border-bottom-color-index: 115;
  border-left-color-index:   115;
}
