.transparent-dark-magenta {
  color-index:                77;
  border-top-color-index:     77;
  border-right-color-index:   77;
  border-bottom-color-index:  77;
  border-left-color-index:    77;
}
