.transparent-dull-purple-brown {
  color-index:               108;
  border-top-color-index:    108;
  border-right-color-index:  108;
  border-bottom-color-index: 108;
  border-left-color-index:   108;
}
