.transparent-light-magenta {
  color-index:               126;
  border-top-color-index:    126;
  border-right-color-index:  126;
  border-bottom-color-index: 126;
  border-left-color-index:   126;
}
