.transparent-medium-purple {
  color-index:               110;
  border-top-color-index:    110;
  border-right-color-index:  110;
  border-bottom-color-index: 110;
  border-left-color-index:   110;
}
