/*
 * File: colors.css
 * Styles for foreground (text,borders) and background colors
 *
 * Author:  Eric Bréchemier
 * License: http://creativecommons.org/licenses/BSD/
 * Version: 2011-07-18
 */

/* TO BE COMPLETED */
.black  { color-index:0; }
.red    { color-index:1; }
.green  { color-index:2; }
.yellow { color-index:3; }
.white  { color-index:7; }

/* TO BE COMPLETED */

.onblack  { background-color-index:0; }
.onred    { background-color-index:1; }
.ongreen  { background-color-index:2; }
.onyellow { background-color-index:3; }
.onwhite  { background-color-index:7; }
