
/* TO BE COMPLETED */

.onblack  { background-color-index:0; }
.onred    { background-color-index:1; }
.ongreen  { background-color-index:2; }
.onyellow { background-color-index:3; }
.onwhite  { background-color-index:7; }
