/*
 * File: colors2.css
 * Alternate styles for colors
 *
 * Author:  Eric Bréchemier
 * License: http://creativecommons.org/licenses/BSD/
 * Version: 2011-07-18
 */

/* TO BE COMPLETED */

.onblack  { background-color-index:0; }
.onred    { background-color-index:1; }
.ongreen  { background-color-index:2; }
.onyellow { background-color-index:3; }
.onwhite  { background-color-index:7; }
