/*
 * File: decoration.css
 * Styles for borders and underlines
 *
 * Author:  Eric Bréchemier
 * License: http://creativecommons.org/licenses/BSD/
 * Version: 2011-09-09
 */

/* rules for the styles of lines of borders and underlines.
   The default style is solid. */
.border, .border1, .border2, .border3, .border4,
.underline, .underline1, .underline2, .underline3, .underline4,
.solid {
  border-style: solid;
}

.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}

/* An underline is a border with all but the bottom border transparent.
   This rule overrides default color declarations in colors.css;
   for this to work, this stylesheet must be included after colors.css */
.underline, .underline1, .underline2, .underline3, .underline4,
.underline:focus, .underline1:focus, .underline2:focus, .underline4:focus,
.underline:active, .underline1:active, .underline2:active, .underline4:active {
  border-top-color-index:    8;
  border-right-color-index:  8;
  border-left-color-index:   8;
}

.no-top-border,
.no-top-border:focus,
.no-top-border:active {
  border-top-color-index:    8;
}

.no-right-border,
.no-right-border:focus,
.no-right-border:active {
  border-right-color-index:  8;
}

.no-bottom-border,
.no-bottom-border:focus,
.no-bottom-border:active {
  border-bottom-color-index: 8;
}

.no-left-border,
.no-left-border:focus,
.no-left-border:active {
  border-left-color-index:   8;
}

/* rules to determine the thickness of lines for borders and underline:
   - the number in the end indicates the thickness in px:
     border1, border2, ..., underline1, underline2 ...
   - border is an alias for border1, underline is an alias for underline1. */
.border, .border1,
.underline, .underline1 {
  border-width: 1px;
}
.border2,
.underline2 {
  border-width: 2px;
}
.border3,
.underline3 {
  border-width: 3px;
}
.border4,
.underline4 {
  border-width: 4px;
}

