/*
 * File: layout.css
 * Styles for layout using a grid system
 *
 * Author:  Eric Bréchemier
 * License: http://creativecommons.org/licenses/BSD/
 * Version: 2012-01-07
 */

/*
 A grid system, for a 960 x 540 pixels display.

 Each cell is 26px wide and 26px tall.
 Cells are separated from other cells by a 9px gutter and from the edge of the
 screen by a 12px gutter.

 Columns are addressed with letters from A to AA;
 lines with numbers from 1 to 15.

  |->   12px, 26px, 9px, 26px, 9px, 26px, 9px, ..., 26px, 9px, 26px, 12px
  v    ----------------------------------------------------------------------
 12px |
 26px |       A1         B1         C1         ...  Z1         AA1
  9px |
 26px |       A2         B2         C2         ...  Z2         AA2
  9px |
 26px |       A3         B3         C3         ...  Z3         AA3
  9px |
      |       ...        ...        ...        ...  ...        ...
  9px |
 26px |       A15        B15        C15        ...  Z15        AA15
 12px |
 */

.fullscreen {
  left: 0px;
  top: 0px;
  width: 960px;
  height: 540px;
}

.top-half {
  left: 0px;
  top: 0px;
  width: 960px;
  height: 270px;
}

.bottom-half {
  left: 0px;
  top: 270px;
  width: 960px;
  height: 270px;
}

.left-half {
  left: 0px;
  top: 0px;
  width: 480px;
  height: 540px;
}

.right-half {
  left: 480px;
  top: 0px;
  width: 480px;
  height: 540px;
}

.north-west {
  left:  12px;
  top: 12px;
  width: 306px;
  height: 166px;
}

.west {
  left:  12px;
  top: 187px;
  width: 306px;
  height: 166px;
}

.south-west {
  left:  12px;
  top: 362px;
  width: 306px;
  height: 166px;
}

.north {
  left: 327px;
  top: 12px;
  width: 306px;
  height: 166px;
}

.center {
  left: 327px;
  top: 187px;
  width: 306px;
  height: 166px;
}

.south {
  left: 327px;
  top: 362px;
  width: 306px;
  height: 166px;
}

.north-east {
  left: 642px;
  top: 12px;
  width: 306px;
  height: 166px;
}

.east {
  left: 642px;
  top: 187px;
  width: 306px;
  height: 166px;
}

.south-east {
  left: 642px;
  top: 362px;
  width: 306px;
  height: 166px;
}

.cell {
  width: 26px;
  height: 26px;
}

.column {
  width: 26px;
  height: 516px;
}

.row {
  height: 26px;
  width: 936px;
}

.one-third-wide {
  width: 306px;
}

.two-thirds-wide {
  width: 621px;
}

.three-thirds-wide {
  width: 936px;
}

.one-third-high {
  height: 166px;
}

.two-thirds-high {
  height: 341px;
}

.three-thirds-high {
  height: 516px;
}

/* columns */

.colA { left: 12px; }
.A1 { left:  12px; }
.A2 { left:  12px; }
.A3 { left:  12px; }
.A4 { left:  12px; }
.A5 { left:  12px; }
.A6 { left:  12px; }
.A7 { left:  12px; }
.A8 { left:  12px; }
.A9 { left:  12px; }
.A10 { left:  12px; }
.A11 { left:  12px; }
.A12 { left:  12px; }
.A13 { left:  12px; }
.A14 { left:  12px; }
.A15 { left:  12px; }

.colB { left:  47px; }
.B1 { left:  47px; }
.B2 { left:  47px; }
.B3 { left:  47px; }
.B4 { left:  47px; }
.B5 { left:  47px; }
.B6 { left:  47px; }
.B7 { left:  47px; }
.B8 { left:  47px; }
.B9 { left:  47px; }
.B10 { left:  47px; }
.B11 { left:  47px; }
.B12 { left:  47px; }
.B13 { left:  47px; }
.B14 { left:  47px; }
.B15 { left:  47px; }

.colC { left:  82px; }
.C1 { left:  82px; }
.C2 { left:  82px; }
.C3 { left:  82px; }
.C4 { left:  82px; }
.C5 { left:  82px; }
.C6 { left:  82px; }
.C7 { left:  82px; }
.C8 { left:  82px; }
.C9 { left:  82px; }
.C10 { left:  82px; }
.C11 { left:  82px; }
.C12 { left:  82px; }
.C13 { left:  82px; }
.C14 { left:  82px; }
.C15 { left:  82px; }

.colD { left: 117px; }
.D1 { left: 117px; }
.D2 { left: 117px; }
.D3 { left: 117px; }
.D4 { left: 117px; }
.D5 { left: 117px; }
.D6 { left: 117px; }
.D7 { left: 117px; }
.D8 { left: 117px; }
.D9 { left: 117px; }
.D10 { left: 117px; }
.D11 { left: 117px; }
.D12 { left: 117px; }
.D13 { left: 117px; }
.D14 { left: 117px; }
.D15 { left: 117px; }

.colE { left: 152px; }
.E1 { left: 152px; }
.E2 { left: 152px; }
.E3 { left: 152px; }
.E4 { left: 152px; }
.E5 { left: 152px; }
.E6 { left: 152px; }
.E7 { left: 152px; }
.E8 { left: 152px; }
.E9 { left: 152px; }
.E10 { left: 152px; }
.E11 { left: 152px; }
.E12 { left: 152px; }
.E13 { left: 152px; }
.E14 { left: 152px; }
.E15 { left: 152px; }

.colF { left: 187px; }
.F1 { left: 187px; }
.F2 { left: 187px; }
.F3 { left: 187px; }
.F4 { left: 187px; }
.F5 { left: 187px; }
.F6 { left: 187px; }
.F7 { left: 187px; }
.F8 { left: 187px; }
.F9 { left: 187px; }
.F10 { left: 187px; }
.F11 { left: 187px; }
.F12 { left: 187px; }
.F13 { left: 187px; }
.F14 { left: 187px; }
.F15 { left: 187px; }

.colG { left: 222px; }
.G1 { left: 222px; }
.G2 { left: 222px; }
.G3 { left: 222px; }
.G4 { left: 222px; }
.G5 { left: 222px; }
.G6 { left: 222px; }
.G7 { left: 222px; }
.G8 { left: 222px; }
.G9 { left: 222px; }
.G10 { left: 222px; }
.G11 { left: 222px; }
.G12 { left: 222px; }
.G13 { left: 222px; }
.G14 { left: 222px; }
.G15 { left: 222px; }

.colH { left: 257px; }
.H1 { left: 257px; }
.H2 { left: 257px; }
.H3 { left: 257px; }
.H4 { left: 257px; }
.H5 { left: 257px; }
.H6 { left: 257px; }
.H7 { left: 257px; }
.H8 { left: 257px; }
.H9 { left: 257px; }
.H10 { left: 257px; }
.H11 { left: 257px; }
.H12 { left: 257px; }
.H13 { left: 257px; }
.H14 { left: 257px; }
.H15 { left: 257px; }

.colI { left: 292px; }
.I1 { left: 292px; }
.I2 { left: 292px; }
.I3 { left: 292px; }
.I4 { left: 292px; }
.I5 { left: 292px; }
.I6 { left: 292px; }
.I7 { left: 292px; }
.I8 { left: 292px; }
.I9 { left: 292px; }
.I10 { left: 292px; }
.I11 { left: 292px; }
.I12 { left: 292px; }
.I13 { left: 292px; }
.I14 { left: 292px; }
.I15 { left: 292px; }

.colJ { left: 327px; }
.J1 { left: 327px; }
.J2 { left: 327px; }
.J3 { left: 327px; }
.J4 { left: 327px; }
.J5 { left: 327px; }
.J6 { left: 327px; }
.J7 { left: 327px; }
.J8 { left: 327px; }
.J9 { left: 327px; }
.J10 { left: 327px; }
.J11 { left: 327px; }
.J12 { left: 327px; }
.J13 { left: 327px; }
.J14 { left: 327px; }
.J15 { left: 327px; }

.colK { left: 362px; }
.K1 { left: 362px; }
.K2 { left: 362px; }
.K3 { left: 362px; }
.K4 { left: 362px; }
.K5 { left: 362px; }
.K6 { left: 362px; }
.K7 { left: 362px; }
.K8 { left: 362px; }
.K9 { left: 362px; }
.K10 { left: 362px; }
.K11 { left: 362px; }
.K12 { left: 362px; }
.K13 { left: 362px; }
.K14 { left: 362px; }
.K15 { left: 362px; }

.colL { left: 397px; }
.L1 { left: 397px; }
.L2 { left: 397px; }
.L3 { left: 397px; }
.L4 { left: 397px; }
.L5 { left: 397px; }
.L6 { left: 397px; }
.L7 { left: 397px; }
.L8 { left: 397px; }
.L9 { left: 397px; }
.L10 { left: 397px; }
.L11 { left: 397px; }
.L12 { left: 397px; }
.L13 { left: 397px; }
.L14 { left: 397px; }
.L15 { left: 397px; }

.colM { left: 432px; }
.M1 { left: 432px; }
.M2 { left: 432px; }
.M3 { left: 432px; }
.M4 { left: 432px; }
.M5 { left: 432px; }
.M6 { left: 432px; }
.M7 { left: 432px; }
.M8 { left: 432px; }
.M9 { left: 432px; }
.M10 { left: 432px; }
.M11 { left: 432px; }
.M12 { left: 432px; }
.M13 { left: 432px; }
.M14 { left: 432px; }
.M15 { left: 432px; }

.colN { left: 467px; }
.N1 { left: 467px; }
.N2 { left: 467px; }
.N3 { left: 467px; }
.N4 { left: 467px; }
.N5 { left: 467px; }
.N6 { left: 467px; }
.N7 { left: 467px; }
.N8 { left: 467px; }
.N9 { left: 467px; }
.N10 { left: 467px; }
.N11 { left: 467px; }
.N12 { left: 467px; }
.N13 { left: 467px; }
.N14 { left: 467px; }
.N15 { left: 467px; }

.colO { left: 502px; }
.O1 { left: 502px; }
.O2 { left: 502px; }
.O3 { left: 502px; }
.O4 { left: 502px; }
.O5 { left: 502px; }
.O6 { left: 502px; }
.O7 { left: 502px; }
.O8 { left: 502px; }
.O9 { left: 502px; }
.O10 { left: 502px; }
.O11 { left: 502px; }
.O12 { left: 502px; }
.O13 { left: 502px; }
.O14 { left: 502px; }
.O15 { left: 502px; }

.colP { left: 537px; }
.P1 { left: 537px; }
.P2 { left: 537px; }
.P3 { left: 537px; }
.P4 { left: 537px; }
.P5 { left: 537px; }
.P6 { left: 537px; }
.P7 { left: 537px; }
.P8 { left: 537px; }
.P9 { left: 537px; }
.P10 { left: 537px; }
.P11 { left: 537px; }
.P12 { left: 537px; }
.P13 { left: 537px; }
.P14 { left: 537px; }
.P15 { left: 537px; }

.colQ { left: 572px; }
.Q1 { left: 572px; }
.Q2 { left: 572px; }
.Q3 { left: 572px; }
.Q4 { left: 572px; }
.Q5 { left: 572px; }
.Q6 { left: 572px; }
.Q7 { left: 572px; }
.Q8 { left: 572px; }
.Q9 { left: 572px; }
.Q10 { left: 572px; }
.Q11 { left: 572px; }
.Q12 { left: 572px; }
.Q13 { left: 572px; }
.Q14 { left: 572px; }
.Q15 { left: 572px; }

.colR { left: 607px; }
.R1 { left: 607px; }
.R2 { left: 607px; }
.R3 { left: 607px; }
.R4 { left: 607px; }
.R5 { left: 607px; }
.R6 { left: 607px; }
.R7 { left: 607px; }
.R8 { left: 607px; }
.R9 { left: 607px; }
.R10 { left: 607px; }
.R11 { left: 607px; }
.R12 { left: 607px; }
.R13 { left: 607px; }
.R14 { left: 607px; }
.R15 { left: 607px; }

.colS { left: 642px; }
.S1 { left: 642px; }
.S2 { left: 642px; }
.S3 { left: 642px; }
.S4 { left: 642px; }
.S5 { left: 642px; }
.S6 { left: 642px; }
.S7 { left: 642px; }
.S8 { left: 642px; }
.S9 { left: 642px; }
.S10 { left: 642px; }
.S11 { left: 642px; }
.S12 { left: 642px; }
.S13 { left: 642px; }
.S14 { left: 642px; }
.S15 { left: 642px; }

.colT { left: 677px; }
.T1 { left: 677px; }
.T2 { left: 677px; }
.T3 { left: 677px; }
.T4 { left: 677px; }
.T5 { left: 677px; }
.T6 { left: 677px; }
.T7 { left: 677px; }
.T8 { left: 677px; }
.T9 { left: 677px; }
.T10 { left: 677px; }
.T11 { left: 677px; }
.T12 { left: 677px; }
.T13 { left: 677px; }
.T14 { left: 677px; }
.T15 { left: 677px; }

.colU { left: 712px; }
.U1 { left: 712px; }
.U2 { left: 712px; }
.U3 { left: 712px; }
.U4 { left: 712px; }
.U5 { left: 712px; }
.U6 { left: 712px; }
.U7 { left: 712px; }
.U8 { left: 712px; }
.U9 { left: 712px; }
.U10 { left: 712px; }
.U11 { left: 712px; }
.U12 { left: 712px; }
.U13 { left: 712px; }
.U14 { left: 712px; }
.U15 { left: 712px; }

.colV { left: 747px; }
.V1 { left: 747px; }
.V2 { left: 747px; }
.V3 { left: 747px; }
.V4 { left: 747px; }
.V5 { left: 747px; }
.V6 { left: 747px; }
.V7 { left: 747px; }
.V8 { left: 747px; }
.V9 { left: 747px; }
.V10 { left: 747px; }
.V11 { left: 747px; }
.V12 { left: 747px; }
.V13 { left: 747px; }
.V14 { left: 747px; }
.V15 { left: 747px; }

.colW { left: 782px; }
.W1 { left: 782px; }
.W2 { left: 782px; }
.W3 { left: 782px; }
.W4 { left: 782px; }
.W5 { left: 782px; }
.W6 { left: 782px; }
.W7 { left: 782px; }
.W8 { left: 782px; }
.W9 { left: 782px; }
.W10 { left: 782px; }
.W11 { left: 782px; }
.W12 { left: 782px; }
.W13 { left: 782px; }
.W14 { left: 782px; }
.W15 { left: 782px; }

.colX { left: 817px; }
.X1 { left: 817px; }
.X2 { left: 817px; }
.X3 { left: 817px; }
.X4 { left: 817px; }
.X5 { left: 817px; }
.X6 { left: 817px; }
.X7 { left: 817px; }
.X8 { left: 817px; }
.X9 { left: 817px; }
.X10 { left: 817px; }
.X11 { left: 817px; }
.X12 { left: 817px; }
.X13 { left: 817px; }
.X14 { left: 817px; }
.X15 { left: 817px; }

.colY { left: 852px; }
.Y1 { left: 852px; }
.Y2 { left: 852px; }
.Y3 { left: 852px; }
.Y4 { left: 852px; }
.Y5 { left: 852px; }
.Y6 { left: 852px; }
.Y7 { left: 852px; }
.Y8 { left: 852px; }
.Y9 { left: 852px; }
.Y10 { left: 852px; }
.Y11 { left: 852px; }
.Y12 { left: 852px; }
.Y13 { left: 852px; }
.Y14 { left: 852px; }
.Y15 { left: 852px; }

.colZ { left: 887px; }
.Z1 { left: 887px; }
.Z2 { left: 887px; }
.Z3 { left: 887px; }
.Z4 { left: 887px; }
.Z5 { left: 887px; }
.Z6 { left: 887px; }
.Z7 { left: 887px; }
.Z8 { left: 887px; }
.Z9 { left: 887px; }
.Z10 { left: 887px; }
.Z11 { left: 887px; }
.Z12 { left: 887px; }
.Z13 { left: 887px; }
.Z14 { left: 887px; }
.Z15 { left: 887px; }

.colAA { left: 922px; }
.AA1 { left: 922px; }
.AA2 { left: 922px; }
.AA3 { left: 922px; }
.AA4 { left: 922px; }
.AA5 { left: 922px; }
.AA6 { left: 922px; }
.AA7 { left: 922px; }
.AA8 { left: 922px; }
.AA9 { left: 922px; }
.AA10 { left: 922px; }
.AA11 { left: 922px; }
.AA12 { left: 922px; }
.AA13 { left: 922px; }
.AA14 { left: 922px; }
.AA15 { left: 922px; }

/* rows */

.row1 { top: 12px; }
.A1 { top: 12px; }
.B1 { top: 12px; }
.C1 { top: 12px; }
.D1 { top: 12px; }
.E1 { top: 12px; }
.F1 { top: 12px; }
.G1 { top: 12px; }
.H1 { top: 12px; }
.I1 { top: 12px; }
.J1 { top: 12px; }
.K1 { top: 12px; }
.L1 { top: 12px; }
.M1 { top: 12px; }
.N1 { top: 12px; }
.O1 { top: 12px; }
.P1 { top: 12px; }
.Q1 { top: 12px; }
.R1 { top: 12px; }
.S1 { top: 12px; }
.T1 { top: 12px; }
.U1 { top: 12px; }
.V1 { top: 12px; }
.W1 { top: 12px; }
.X1 { top: 12px; }
.Y1 { top: 12px; }
.Z1 { top: 12px; }
.AA1 { top: 12px; }

.row2 { top: 47px; }
.A2 { top: 47px; }
.B2 { top: 47px; }
.C2 { top: 47px; }
.D2 { top: 47px; }
.E2 { top: 47px; }
.F2 { top: 47px; }
.G2 { top: 47px; }
.H2 { top: 47px; }
.I2 { top: 47px; }
.J2 { top: 47px; }
.K2 { top: 47px; }
.L2 { top: 47px; }
.M2 { top: 47px; }
.N2 { top: 47px; }
.O2 { top: 47px; }
.P2 { top: 47px; }
.Q2 { top: 47px; }
.R2 { top: 47px; }
.S2 { top: 47px; }
.T2 { top: 47px; }
.U2 { top: 47px; }
.V2 { top: 47px; }
.W2 { top: 47px; }
.X2 { top: 47px; }
.Y2 { top: 47px; }
.Z2 { top: 47px; }
.AA2 { top: 47px; }

.row3 { top: 82px; }
.A3 { top: 82px; }
.B3 { top: 82px; }
.C3 { top: 82px; }
.D3 { top: 82px; }
.E3 { top: 82px; }
.F3 { top: 82px; }
.G3 { top: 82px; }
.H3 { top: 82px; }
.I3 { top: 82px; }
.J3 { top: 82px; }
.K3 { top: 82px; }
.L3 { top: 82px; }
.M3 { top: 82px; }
.N3 { top: 82px; }
.O3 { top: 82px; }
.P3 { top: 82px; }
.Q3 { top: 82px; }
.R3 { top: 82px; }
.S3 { top: 82px; }
.T3 { top: 82px; }
.U3 { top: 82px; }
.V3 { top: 82px; }
.W3 { top: 82px; }
.X3 { top: 82px; }
.Y3 { top: 82px; }
.Z3 { top: 82px; }
.AA3 { top: 82px; }

.row4 { top: 117px; }
.A4 { top: 117px; }
.B4 { top: 117px; }
.C4 { top: 117px; }
.D4 { top: 117px; }
.E4 { top: 117px; }
.F4 { top: 117px; }
.G4 { top: 117px; }
.H4 { top: 117px; }
.I4 { top: 117px; }
.J4 { top: 117px; }
.K4 { top: 117px; }
.L4 { top: 117px; }
.M4 { top: 117px; }
.N4 { top: 117px; }
.O4 { top: 117px; }
.P4 { top: 117px; }
.Q4 { top: 117px; }
.R4 { top: 117px; }
.S4 { top: 117px; }
.T4 { top: 117px; }
.U4 { top: 117px; }
.V4 { top: 117px; }
.W4 { top: 117px; }
.X4 { top: 117px; }
.Y4 { top: 117px; }
.Z4 { top: 117px; }
.AA4 { top: 117px; }

.row5 { top: 152px; }
.A5 { top: 152px; }
.B5 { top: 152px; }
.C5 { top: 152px; }
.D5 { top: 152px; }
.E5 { top: 152px; }
.F5 { top: 152px; }
.G5 { top: 152px; }
.H5 { top: 152px; }
.I5 { top: 152px; }
.J5 { top: 152px; }
.K5 { top: 152px; }
.L5 { top: 152px; }
.M5 { top: 152px; }
.N5 { top: 152px; }
.O5 { top: 152px; }
.P5 { top: 152px; }
.Q5 { top: 152px; }
.R5 { top: 152px; }
.S5 { top: 152px; }
.T5 { top: 152px; }
.U5 { top: 152px; }
.V5 { top: 152px; }
.W5 { top: 152px; }
.X5 { top: 152px; }
.Y5 { top: 152px; }
.Z5 { top: 152px; }
.AA5 { top: 152px; }

.row6 { top: 187px; }
.A6 { top: 187px; }
.B6 { top: 187px; }
.C6 { top: 187px; }
.D6 { top: 187px; }
.E6 { top: 187px; }
.F6 { top: 187px; }
.G6 { top: 187px; }
.H6 { top: 187px; }
.I6 { top: 187px; }
.J6 { top: 187px; }
.K6 { top: 187px; }
.L6 { top: 187px; }
.M6 { top: 187px; }
.N6 { top: 187px; }
.O6 { top: 187px; }
.P6 { top: 187px; }
.Q6 { top: 187px; }
.R6 { top: 187px; }
.S6 { top: 187px; }
.T6 { top: 187px; }
.U6 { top: 187px; }
.V6 { top: 187px; }
.W6 { top: 187px; }
.X6 { top: 187px; }
.Y6 { top: 187px; }
.Z6 { top: 187px; }
.AA6 { top: 187px; }

.row7 { top: 222px; }
.A7 { top: 222px; }
.B7 { top: 222px; }
.C7 { top: 222px; }
.D7 { top: 222px; }
.E7 { top: 222px; }
.F7 { top: 222px; }
.G7 { top: 222px; }
.H7 { top: 222px; }
.I7 { top: 222px; }
.J7 { top: 222px; }
.K7 { top: 222px; }
.L7 { top: 222px; }
.M7 { top: 222px; }
.N7 { top: 222px; }
.O7 { top: 222px; }
.P7 { top: 222px; }
.Q7 { top: 222px; }
.R7 { top: 222px; }
.S7 { top: 222px; }
.T7 { top: 222px; }
.U7 { top: 222px; }
.V7 { top: 222px; }
.W7 { top: 222px; }
.X7 { top: 222px; }
.Y7 { top: 222px; }
.Z7 { top: 222px; }
.AA7 { top: 222px; }

.row8 { top: 257px; }
.A8 { top: 257px; }
.B8 { top: 257px; }
.C8 { top: 257px; }
.D8 { top: 257px; }
.E8 { top: 257px; }
.F8 { top: 257px; }
.G8 { top: 257px; }
.H8 { top: 257px; }
.I8 { top: 257px; }
.J8 { top: 257px; }
.K8 { top: 257px; }
.L8 { top: 257px; }
.M8 { top: 257px; }
.N8 { top: 257px; }
.O8 { top: 257px; }
.P8 { top: 257px; }
.Q8 { top: 257px; }
.R8 { top: 257px; }
.S8 { top: 257px; }
.T8 { top: 257px; }
.U8 { top: 257px; }
.V8 { top: 257px; }
.W8 { top: 257px; }
.X8 { top: 257px; }
.Y8 { top: 257px; }
.Z8 { top: 257px; }
.AA8 { top: 257px; }

.row9 { top: 292px; }
.A9 { top: 292px; }
.B9 { top: 292px; }
.C9 { top: 292px; }
.D9 { top: 292px; }
.E9 { top: 292px; }
.F9 { top: 292px; }
.G9 { top: 292px; }
.H9 { top: 292px; }
.I9 { top: 292px; }
.J9 { top: 292px; }
.K9 { top: 292px; }
.L9 { top: 292px; }
.M9 { top: 292px; }
.N9 { top: 292px; }
.O9 { top: 292px; }
.P9 { top: 292px; }
.Q9 { top: 292px; }
.R9 { top: 292px; }
.S9 { top: 292px; }
.T9 { top: 292px; }
.U9 { top: 292px; }
.V9 { top: 292px; }
.W9 { top: 292px; }
.X9 { top: 292px; }
.Y9 { top: 292px; }
.Z9 { top: 292px; }
.AA9 { top: 292px; }

.row10 { top: 327px; }
.A10 { top: 327px; }
.B10 { top: 327px; }
.C10 { top: 327px; }
.D10 { top: 327px; }
.E10 { top: 327px; }
.F10 { top: 327px; }
.G10 { top: 327px; }
.H10 { top: 327px; }
.I10 { top: 327px; }
.J10 { top: 327px; }
.K10 { top: 327px; }
.L10 { top: 327px; }
.M10 { top: 327px; }
.N10 { top: 327px; }
.O10 { top: 327px; }
.P10 { top: 327px; }
.Q10 { top: 327px; }
.R10 { top: 327px; }
.S10 { top: 327px; }
.T10 { top: 327px; }
.U10 { top: 327px; }
.V10 { top: 327px; }
.W10 { top: 327px; }
.X10 { top: 327px; }
.Y10 { top: 327px; }
.Z10 { top: 327px; }
.AA10 { top: 327px; }

.row11 { top: 362px; }
.A11 { top: 362px; }
.B11 { top: 362px; }
.C11 { top: 362px; }
.D11 { top: 362px; }
.E11 { top: 362px; }
.F11 { top: 362px; }
.G11 { top: 362px; }
.H11 { top: 362px; }
.I11 { top: 362px; }
.J11 { top: 362px; }
.K11 { top: 362px; }
.L11 { top: 362px; }
.M11 { top: 362px; }
.N11 { top: 362px; }
.O11 { top: 362px; }
.P11 { top: 362px; }
.Q11 { top: 362px; }
.R11 { top: 362px; }
.S11 { top: 362px; }
.T11 { top: 362px; }
.U11 { top: 362px; }
.V11 { top: 362px; }
.W11 { top: 362px; }
.X11 { top: 362px; }
.Y11 { top: 362px; }
.Z11 { top: 362px; }
.AA11 { top: 362px; }

.row12 { top: 397px; }
.A12 { top: 397px; }
.B12 { top: 397px; }
.C12 { top: 397px; }
.D12 { top: 397px; }
.E12 { top: 397px; }
.F12 { top: 397px; }
.G12 { top: 397px; }
.H12 { top: 397px; }
.I12 { top: 397px; }
.J12 { top: 397px; }
.K12 { top: 397px; }
.L12 { top: 397px; }
.M12 { top: 397px; }
.N12 { top: 397px; }
.O12 { top: 397px; }
.P12 { top: 397px; }
.Q12 { top: 397px; }
.R12 { top: 397px; }
.S12 { top: 397px; }
.T12 { top: 397px; }
.U12 { top: 397px; }
.V12 { top: 397px; }
.W12 { top: 397px; }
.X12 { top: 397px; }
.Y12 { top: 397px; }
.Z12 { top: 397px; }
.AA12 { top: 397px; }

.row13 { top: 432px; }
.A13 { top: 432px; }
.B13 { top: 432px; }
.C13 { top: 432px; }
.D13 { top: 432px; }
.E13 { top: 432px; }
.F13 { top: 432px; }
.G13 { top: 432px; }
.H13 { top: 432px; }
.I13 { top: 432px; }
.J13 { top: 432px; }
.K13 { top: 432px; }
.L13 { top: 432px; }
.M13 { top: 432px; }
.N13 { top: 432px; }
.O13 { top: 432px; }
.P13 { top: 432px; }
.Q13 { top: 432px; }
.R13 { top: 432px; }
.S13 { top: 432px; }
.T13 { top: 432px; }
.U13 { top: 432px; }
.V13 { top: 432px; }
.W13 { top: 432px; }
.X13 { top: 432px; }
.Y13 { top: 432px; }
.Z13 { top: 432px; }
.AA13 { top: 432px; }

.row14 { top: 467px; }
.A14 { top: 467px; }
.B14 { top: 467px; }
.C14 { top: 467px; }
.D14 { top: 467px; }
.E14 { top: 467px; }
.F14 { top: 467px; }
.G14 { top: 467px; }
.H14 { top: 467px; }
.I14 { top: 467px; }
.J14 { top: 467px; }
.K14 { top: 467px; }
.L14 { top: 467px; }
.M14 { top: 467px; }
.N14 { top: 467px; }
.O14 { top: 467px; }
.P14 { top: 467px; }
.Q14 { top: 467px; }
.R14 { top: 467px; }
.S14 { top: 467px; }
.T14 { top: 467px; }
.U14 { top: 467px; }
.V14 { top: 467px; }
.W14 { top: 467px; }
.X14 { top: 467px; }
.Y14 { top: 467px; }
.Z14 { top: 467px; }
.AA14 { top: 467px; }

.row15 { top: 502px; }
.A15 { top: 502px; }
.B15 { top: 502px; }
.C15 { top: 502px; }
.D15 { top: 502px; }
.E15 { top: 502px; }
.F15 { top: 502px; }
.G15 { top: 502px; }
.H15 { top: 502px; }
.I15 { top: 502px; }
.J15 { top: 502px; }
.K15 { top: 502px; }
.L15 { top: 502px; }
.M15 { top: 502px; }
.N15 { top: 502px; }
.O15 { top: 502px; }
.P15 { top: 502px; }
.Q15 { top: 502px; }
.R15 { top: 502px; }
.S15 { top: 502px; }
.T15 { top: 502px; }
.U15 { top: 502px; }
.V15 { top: 502px; }
.W15 { top: 502px; }
.X15 { top: 502px; }
.Y15 { top: 502px; }
.Z15 { top: 502px; }
.AA15 { top: 502px; }

/* width in columns */

.on-1col { width: 26px; }
.on-1x1 { width: 26px; }
.on-1x2 { width: 26px; }
.on-1x3 { width: 26px; }
.on-1x4 { width: 26px; }
.on-1x5 { width: 26px; }
.on-1x6 { width: 26px; }
.on-1x7 { width: 26px; }
.on-1x8 { width: 26px; }
.on-1x9 { width: 26px; }
.on-1x10 { width: 26px; }
.on-1x11 { width: 26px; }
.on-1x12 { width: 26px; }
.on-1x13 { width: 26px; }
.on-1x14 { width: 26px; }
.on-1x15 { width: 26px; }

.on-2cols { width: 61px; }
.on-2x1 { width: 61px; }
.on-2x1 { width: 61px; }
.on-2x2 { width: 61px; }
.on-2x3 { width: 61px; }
.on-2x4 { width: 61px; }
.on-2x5 { width: 61px; }
.on-2x6 { width: 61px; }
.on-2x7 { width: 61px; }
.on-2x8 { width: 61px; }
.on-2x9 { width: 61px; }
.on-2x10 { width: 61px; }
.on-2x11 { width: 61px; }
.on-2x12 { width: 61px; }
.on-2x13 { width: 61px; }
.on-2x14 { width: 61px; }
.on-2x15 { width: 61px; }

.on-3cols { width: 96px; }
.on-3x1 { width: 96px; }
.on-3x2 { width: 96px; }
.on-3x3 { width: 96px; }
.on-3x4 { width: 96px; }
.on-3x5 { width: 96px; }
.on-3x6 { width: 96px; }
.on-3x7 { width: 96px; }
.on-3x8 { width: 96px; }
.on-3x9 { width: 96px; }
.on-3x10 { width: 96px; }
.on-3x11 { width: 96px; }
.on-3x12 { width: 96px; }
.on-3x13 { width: 96px; }
.on-3x14 { width: 96px; }
.on-3x15 { width: 96px; }

.on-4cols { width: 131px; }
.on-4x1 { width: 131px; }
.on-4x2 { width: 131px; }
.on-4x3 { width: 131px; }
.on-4x4 { width: 131px; }
.on-4x5 { width: 131px; }
.on-4x6 { width: 131px; }
.on-4x7 { width: 131px; }
.on-4x8 { width: 131px; }
.on-4x9 { width: 131px; }
.on-4x10 { width: 131px; }
.on-4x11 { width: 131px; }
.on-4x12 { width: 131px; }
.on-4x13 { width: 131px; }
.on-4x14 { width: 131px; }
.on-4x15 { width: 131px; }

.on-5cols { width: 166px; }
.on-5x1 { width: 166px; }
.on-5x2 { width: 166px; }
.on-5x3 { width: 166px; }
.on-5x4 { width: 166px; }
.on-5x5 { width: 166px; }
.on-5x6 { width: 166px; }
.on-5x7 { width: 166px; }
.on-5x8 { width: 166px; }
.on-5x9 { width: 166px; }
.on-5x10 { width: 166px; }
.on-5x11 { width: 166px; }
.on-5x12 { width: 166px; }
.on-5x13 { width: 166px; }
.on-5x14 { width: 166px; }
.on-5x15 { width: 166px; }

.on-6cols { width: 201px; }
.on-6x1 { width: 201px; }
.on-6x2 { width: 201px; }
.on-6x3 { width: 201px; }
.on-6x4 { width: 201px; }
.on-6x5 { width: 201px; }
.on-6x6 { width: 201px; }
.on-6x7 { width: 201px; }
.on-6x8 { width: 201px; }
.on-6x9 { width: 201px; }
.on-6x10 { width: 201px; }
.on-6x11 { width: 201px; }
.on-6x12 { width: 201px; }
.on-6x13 { width: 201px; }
.on-6x14 { width: 201px; }
.on-6x15 { width: 201px; }

.on-7cols { width: 236px; }
.on-7x1 { width: 236px; }
.on-7x2 { width: 236px; }
.on-7x3 { width: 236px; }
.on-7x4 { width: 236px; }
.on-7x5 { width: 236px; }
.on-7x6 { width: 236px; }
.on-7x7 { width: 236px; }
.on-7x8 { width: 236px; }
.on-7x9 { width: 236px; }
.on-7x10 { width: 236px; }
.on-7x11 { width: 236px; }
.on-7x12 { width: 236px; }
.on-7x13 { width: 236px; }
.on-7x14 { width: 236px; }
.on-7x15 { width: 236px; }

.on-8cols { width: 271px; }
.on-8x1 { width: 271px; }
.on-8x2 { width: 271px; }
.on-8x3 { width: 271px; }
.on-8x4 { width: 271px; }
.on-8x5 { width: 271px; }
.on-8x6 { width: 271px; }
.on-8x7 { width: 271px; }
.on-8x8 { width: 271px; }
.on-8x9 { width: 271px; }
.on-8x10 { width: 271px; }
.on-8x11 { width: 271px; }
.on-8x12 { width: 271px; }
.on-8x13 { width: 271px; }
.on-8x14 { width: 271px; }
.on-8x15 { width: 271px; }

.on-9cols { width: 306px; }
.on-9x1 { width: 306px; }
.on-9x2 { width: 306px; }
.on-9x3 { width: 306px; }
.on-9x4 { width: 306px; }
.on-9x5 { width: 306px; }
.on-9x6 { width: 306px; }
.on-9x7 { width: 306px; }
.on-9x8 { width: 306px; }
.on-9x9 { width: 306px; }
.on-9x10 { width: 306px; }
.on-9x11 { width: 306px; }
.on-9x12 { width: 306px; }
.on-9x13 { width: 306px; }
.on-9x14 { width: 306px; }
.on-9x15 { width: 306px; }

.on-10cols { width: 341px; }
.on-10x1 { width: 341px; }
.on-10x2 { width: 341px; }
.on-10x3 { width: 341px; }
.on-10x4 { width: 341px; }
.on-10x5 { width: 341px; }
.on-10x6 { width: 341px; }
.on-10x7 { width: 341px; }
.on-10x8 { width: 341px; }
.on-10x9 { width: 341px; }
.on-10x10 { width: 341px; }
.on-10x11 { width: 341px; }
.on-10x12 { width: 341px; }
.on-10x13 { width: 341px; }
.on-10x14 { width: 341px; }
.on-10x15 { width: 341px; }

.on-11cols { width: 376px; }
.on-11x1 { width: 376px; }
.on-11x2 { width: 376px; }
.on-11x3 { width: 376px; }
.on-11x4 { width: 376px; }
.on-11x5 { width: 376px; }
.on-11x6 { width: 376px; }
.on-11x7 { width: 376px; }
.on-11x8 { width: 376px; }
.on-11x9 { width: 376px; }
.on-11x10 { width: 376px; }
.on-11x11 { width: 376px; }
.on-11x12 { width: 376px; }
.on-11x13 { width: 376px; }
.on-11x14 { width: 376px; }
.on-11x15 { width: 376px; }

.on-12cols { width: 411px; }
.on-12x1 { width: 411px; }
.on-12x2 { width: 411px; }
.on-12x3 { width: 411px; }
.on-12x4 { width: 411px; }
.on-12x5 { width: 411px; }
.on-12x6 { width: 411px; }
.on-12x7 { width: 411px; }
.on-12x8 { width: 411px; }
.on-12x9 { width: 411px; }
.on-12x10 { width: 411px; }
.on-12x11 { width: 411px; }
.on-12x12 { width: 411px; }
.on-12x13 { width: 411px; }
.on-12x14 { width: 411px; }
.on-12x15 { width: 411px; }

.on-13cols { width: 446px; }
.on-13x1 { width: 446px; }
.on-13x2 { width: 446px; }
.on-13x3 { width: 446px; }
.on-13x4 { width: 446px; }
.on-13x5 { width: 446px; }
.on-13x6 { width: 446px; }
.on-13x7 { width: 446px; }
.on-13x8 { width: 446px; }
.on-13x9 { width: 446px; }
.on-13x10 { width: 446px; }
.on-13x11 { width: 446px; }
.on-13x12 { width: 446px; }
.on-13x13 { width: 446px; }
.on-13x14 { width: 446px; }
.on-13x15 { width: 446px; }

.on-14cols { width: 481px; }
.on-14x1 { width: 481px; }
.on-14x2 { width: 481px; }
.on-14x3 { width: 481px; }
.on-14x4 { width: 481px; }
.on-14x5 { width: 481px; }
.on-14x6 { width: 481px; }
.on-14x7 { width: 481px; }
.on-14x8 { width: 481px; }
.on-14x9 { width: 481px; }
.on-14x10 { width: 481px; }
.on-14x11 { width: 481px; }
.on-14x12 { width: 481px; }
.on-14x13 { width: 481px; }
.on-14x14 { width: 481px; }
.on-14x15 { width: 481px; }

.on-15cols { width: 516px; }
.on-15x1 { width: 516px; }
.on-15x2 { width: 516px; }
.on-15x3 { width: 516px; }
.on-15x4 { width: 516px; }
.on-15x5 { width: 516px; }
.on-15x6 { width: 516px; }
.on-15x7 { width: 516px; }
.on-15x8 { width: 516px; }
.on-15x9 { width: 516px; }
.on-15x10 { width: 516px; }
.on-15x11 { width: 516px; }
.on-15x12 { width: 516px; }
.on-15x13 { width: 516px; }
.on-15x14 { width: 516px; }
.on-15x15 { width: 516px; }

.on-16cols { width: 551px; }
.on-16x1 { width: 551px; }
.on-16x2 { width: 551px; }
.on-16x3 { width: 551px; }
.on-16x4 { width: 551px; }
.on-16x5 { width: 551px; }
.on-16x6 { width: 551px; }
.on-16x7 { width: 551px; }
.on-16x8 { width: 551px; }
.on-16x9 { width: 551px; }
.on-16x10 { width: 551px; }
.on-16x11 { width: 551px; }
.on-16x12 { width: 551px; }
.on-16x13 { width: 551px; }
.on-16x14 { width: 551px; }
.on-16x15 { width: 551px; }

.on-17cols { width: 586px; }
.on-17x1 { width: 586px; }
.on-17x2 { width: 586px; }
.on-17x3 { width: 586px; }
.on-17x4 { width: 586px; }
.on-17x5 { width: 586px; }
.on-17x6 { width: 586px; }
.on-17x7 { width: 586px; }
.on-17x8 { width: 586px; }
.on-17x9 { width: 586px; }
.on-17x10 { width: 586px; }
.on-17x11 { width: 586px; }
.on-17x12 { width: 586px; }
.on-17x13 { width: 586px; }
.on-17x14 { width: 586px; }
.on-17x15 { width: 586px; }

.on-18cols { width: 621px; }
.on-18x1 { width: 621px; }
.on-18x2 { width: 621px; }
.on-18x3 { width: 621px; }
.on-18x4 { width: 621px; }
.on-18x5 { width: 621px; }
.on-18x6 { width: 621px; }
.on-18x7 { width: 621px; }
.on-18x8 { width: 621px; }
.on-18x9 { width: 621px; }
.on-18x10 { width: 621px; }
.on-18x11 { width: 621px; }
.on-18x12 { width: 621px; }
.on-18x13 { width: 621px; }
.on-18x14 { width: 621px; }
.on-18x15 { width: 621px; }

.on-19cols { width: 656px; }
.on-19x1 { width: 656px; }
.on-19x2 { width: 656px; }
.on-19x3 { width: 656px; }
.on-19x4 { width: 656px; }
.on-19x5 { width: 656px; }
.on-19x6 { width: 656px; }
.on-19x7 { width: 656px; }
.on-19x8 { width: 656px; }
.on-19x9 { width: 656px; }
.on-19x10 { width: 656px; }
.on-19x11 { width: 656px; }
.on-19x12 { width: 656px; }
.on-19x13 { width: 656px; }
.on-19x14 { width: 656px; }
.on-19x15 { width: 656px; }

.on-20cols { width: 691px; }
.on-20x1 { width: 691px; }
.on-20x2 { width: 691px; }
.on-20x3 { width: 691px; }
.on-20x4 { width: 691px; }
.on-20x5 { width: 691px; }
.on-20x6 { width: 691px; }
.on-20x7 { width: 691px; }
.on-20x8 { width: 691px; }
.on-20x9 { width: 691px; }
.on-20x10 { width: 691px; }
.on-20x11 { width: 691px; }
.on-20x12 { width: 691px; }
.on-20x13 { width: 691px; }
.on-20x14 { width: 691px; }
.on-20x15 { width: 691px; }

.on-21cols { width: 726px; }
.on-21x1 { width: 726px; }
.on-21x2 { width: 726px; }
.on-21x3 { width: 726px; }
.on-21x4 { width: 726px; }
.on-21x5 { width: 726px; }
.on-21x6 { width: 726px; }
.on-21x7 { width: 726px; }
.on-21x8 { width: 726px; }
.on-21x9 { width: 726px; }
.on-21x10 { width: 726px; }
.on-21x11 { width: 726px; }
.on-21x12 { width: 726px; }
.on-21x13 { width: 726px; }
.on-21x14 { width: 726px; }
.on-21x15 { width: 726px; }

.on-22cols { width: 761px; }
.on-22x1 { width: 761px; }
.on-22x2 { width: 761px; }
.on-22x3 { width: 761px; }
.on-22x4 { width: 761px; }
.on-22x5 { width: 761px; }
.on-22x6 { width: 761px; }
.on-22x7 { width: 761px; }
.on-22x8 { width: 761px; }
.on-22x9 { width: 761px; }
.on-22x10 { width: 761px; }
.on-22x11 { width: 761px; }
.on-22x12 { width: 761px; }
.on-22x13 { width: 761px; }
.on-22x14 { width: 761px; }
.on-22x15 { width: 761px; }

.on-23cols { width: 796px; }
.on-23x1 { width: 796px; }
.on-23x2 { width: 796px; }
.on-23x3 { width: 796px; }
.on-23x4 { width: 796px; }
.on-23x5 { width: 796px; }
.on-23x6 { width: 796px; }
.on-23x7 { width: 796px; }
.on-23x8 { width: 796px; }
.on-23x9 { width: 796px; }
.on-23x10 { width: 796px; }
.on-23x11 { width: 796px; }
.on-23x12 { width: 796px; }
.on-23x13 { width: 796px; }
.on-23x14 { width: 796px; }
.on-23x15 { width: 796px; }

.on-24cols { width: 831px; }
.on-24x1 { width: 831px; }
.on-24x2 { width: 831px; }
.on-24x3 { width: 831px; }
.on-24x4 { width: 831px; }
.on-24x5 { width: 831px; }
.on-24x6 { width: 831px; }
.on-24x7 { width: 831px; }
.on-24x8 { width: 831px; }
.on-24x9 { width: 831px; }
.on-24x10 { width: 831px; }
.on-24x11 { width: 831px; }
.on-24x12 { width: 831px; }
.on-24x13 { width: 831px; }
.on-24x14 { width: 831px; }
.on-24x15 { width: 831px; }

.on-25cols { width: 866px; }
.on-25x1 { width: 866px; }
.on-25x2 { width: 866px; }
.on-25x3 { width: 866px; }
.on-25x4 { width: 866px; }
.on-25x5 { width: 866px; }
.on-25x6 { width: 866px; }
.on-25x7 { width: 866px; }
.on-25x8 { width: 866px; }
.on-25x9 { width: 866px; }
.on-25x10 { width: 866px; }
.on-25x11 { width: 866px; }
.on-25x12 { width: 866px; }
.on-25x13 { width: 866px; }
.on-25x14 { width: 866px; }
.on-25x15 { width: 866px; }

.on-26cols { width: 901px; }
.on-26x1 { width: 901px; }
.on-26x2 { width: 901px; }
.on-26x3 { width: 901px; }
.on-26x4 { width: 901px; }
.on-26x5 { width: 901px; }
.on-26x6 { width: 901px; }
.on-26x7 { width: 901px; }
.on-26x8 { width: 901px; }
.on-26x9 { width: 901px; }
.on-26x10 { width: 901px; }
.on-26x11 { width: 901px; }
.on-26x12 { width: 901px; }
.on-26x13 { width: 901px; }
.on-26x14 { width: 901px; }
.on-26x15 { width: 901px; }

.on-27cols { width: 936px; }
.on-27x1 { width: 936px; }
.on-27x2 { width: 936px; }
.on-27x3 { width: 936px; }
.on-27x4 { width: 936px; }
.on-27x5 { width: 936px; }
.on-27x6 { width: 936px; }
.on-27x7 { width: 936px; }
.on-27x8 { width: 936px; }
.on-27x9 { width: 936px; }
.on-27x10 { width: 936px; }
.on-27x11 { width: 936px; }
.on-27x12 { width: 936px; }
.on-27x13 { width: 936px; }
.on-27x14 { width: 936px; }
.on-27x15 { width: 936px; }

/* height in rows */

.on-1row { height: 26px; }
.on-1x1 { height: 26px; }
.on-2x1 { height: 26px; }
.on-3x1 { height: 26px; }
.on-4x1 { height: 26px; }
.on-5x1 { height: 26px; }
.on-6x1 { height: 26px; }
.on-7x1 { height: 26px; }
.on-8x1 { height: 26px; }
.on-9x1 { height: 26px; }
.on-10x1 { height: 26px; }
.on-11x1 { height: 26px; }
.on-12x1 { height: 26px; }
.on-13x1 { height: 26px; }
.on-14x1 { height: 26px; }
.on-15x1 { height: 26px; }
.on-16x1 { height: 26px; }
.on-17x1 { height: 26px; }
.on-18x1 { height: 26px; }
.on-19x1 { height: 26px; }
.on-20x1 { height: 26px; }
.on-21x1 { height: 26px; }
.on-22x1 { height: 26px; }
.on-23x1 { height: 26px; }
.on-24x1 { height: 26px; }
.on-25x1 { height: 26px; }
.on-26x1 { height: 26px; }
.on-27x1 { height: 26px; }

.on-2rows { height: 61px; }
.on-1x2 { height: 61px; }
.on-2x2 { height: 61px; }
.on-3x2 { height: 61px; }
.on-4x2 { height: 61px; }
.on-5x2 { height: 61px; }
.on-6x2 { height: 61px; }
.on-7x2 { height: 61px; }
.on-8x2 { height: 61px; }
.on-9x2 { height: 61px; }
.on-10x2 { height: 61px; }
.on-11x2 { height: 61px; }
.on-12x2 { height: 61px; }
.on-13x2 { height: 61px; }
.on-14x2 { height: 61px; }
.on-15x2 { height: 61px; }
.on-16x2 { height: 61px; }
.on-17x2 { height: 61px; }
.on-18x2 { height: 61px; }
.on-19x2 { height: 61px; }
.on-20x2 { height: 61px; }
.on-21x2 { height: 61px; }
.on-22x2 { height: 61px; }
.on-23x2 { height: 61px; }
.on-24x2 { height: 61px; }
.on-25x2 { height: 61px; }
.on-26x2 { height: 61px; }
.on-27x2 { height: 61px; }

.on-3rows { height: 96px; }
.on-1x3 { height: 96px; }
.on-2x3 { height: 96px; }
.on-3x3 { height: 96px; }
.on-4x3 { height: 96px; }
.on-5x3 { height: 96px; }
.on-6x3 { height: 96px; }
.on-7x3 { height: 96px; }
.on-8x3 { height: 96px; }
.on-9x3 { height: 96px; }
.on-10x3 { height: 96px; }
.on-11x3 { height: 96px; }
.on-12x3 { height: 96px; }
.on-13x3 { height: 96px; }
.on-14x3 { height: 96px; }
.on-15x3 { height: 96px; }
.on-16x3 { height: 96px; }
.on-17x3 { height: 96px; }
.on-18x3 { height: 96px; }
.on-19x3 { height: 96px; }
.on-20x3 { height: 96px; }
.on-21x3 { height: 96px; }
.on-22x3 { height: 96px; }
.on-23x3 { height: 96px; }
.on-24x3 { height: 96px; }
.on-25x3 { height: 96px; }
.on-26x3 { height: 96px; }
.on-27x3 { height: 96px; }

.on-4rows { height: 131px; }
.on-1x4 { height: 131px; }
.on-2x4 { height: 131px; }
.on-3x4 { height: 131px; }
.on-4x4 { height: 131px; }
.on-5x4 { height: 131px; }
.on-6x4 { height: 131px; }
.on-7x4 { height: 131px; }
.on-8x4 { height: 131px; }
.on-9x4 { height: 131px; }
.on-10x4 { height: 131px; }
.on-11x4 { height: 131px; }
.on-12x4 { height: 131px; }
.on-13x4 { height: 131px; }
.on-14x4 { height: 131px; }
.on-15x4 { height: 131px; }
.on-16x4 { height: 131px; }
.on-17x4 { height: 131px; }
.on-18x4 { height: 131px; }
.on-19x4 { height: 131px; }
.on-20x4 { height: 131px; }
.on-21x4 { height: 131px; }
.on-22x4 { height: 131px; }
.on-23x4 { height: 131px; }
.on-24x4 { height: 131px; }
.on-25x4 { height: 131px; }
.on-26x4 { height: 131px; }
.on-27x4 { height: 131px; }

.on-5rows { height: 166px; }
.on-1x5 { height: 166px; }
.on-2x5 { height: 166px; }
.on-3x5 { height: 166px; }
.on-4x5 { height: 166px; }
.on-5x5 { height: 166px; }
.on-6x5 { height: 166px; }
.on-7x5 { height: 166px; }
.on-8x5 { height: 166px; }
.on-9x5 { height: 166px; }
.on-10x5 { height: 166px; }
.on-11x5 { height: 166px; }
.on-12x5 { height: 166px; }
.on-13x5 { height: 166px; }
.on-14x5 { height: 166px; }
.on-15x5 { height: 166px; }
.on-16x5 { height: 166px; }
.on-17x5 { height: 166px; }
.on-18x5 { height: 166px; }
.on-19x5 { height: 166px; }
.on-20x5 { height: 166px; }
.on-21x5 { height: 166px; }
.on-22x5 { height: 166px; }
.on-23x5 { height: 166px; }
.on-24x5 { height: 166px; }
.on-25x5 { height: 166px; }
.on-26x5 { height: 166px; }
.on-27x5 { height: 166px; }

.on-6rows { height: 201px; }
.on-1x6 { height: 201px; }
.on-2x6 { height: 201px; }
.on-3x6 { height: 201px; }
.on-4x6 { height: 201px; }
.on-5x6 { height: 201px; }
.on-6x6 { height: 201px; }
.on-7x6 { height: 201px; }
.on-8x6 { height: 201px; }
.on-9x6 { height: 201px; }
.on-10x6 { height: 201px; }
.on-11x6 { height: 201px; }
.on-12x6 { height: 201px; }
.on-13x6 { height: 201px; }
.on-14x6 { height: 201px; }
.on-15x6 { height: 201px; }
.on-16x6 { height: 201px; }
.on-17x6 { height: 201px; }
.on-18x6 { height: 201px; }
.on-19x6 { height: 201px; }
.on-20x6 { height: 201px; }
.on-21x6 { height: 201px; }
.on-22x6 { height: 201px; }
.on-23x6 { height: 201px; }
.on-24x6 { height: 201px; }
.on-25x6 { height: 201px; }
.on-26x6 { height: 201px; }
.on-27x6 { height: 201px; }

.on-7rows { height: 236px; }
.on-1x7 { height: 236px; }
.on-2x7 { height: 236px; }
.on-3x7 { height: 236px; }
.on-4x7 { height: 236px; }
.on-5x7 { height: 236px; }
.on-6x7 { height: 236px; }
.on-7x7 { height: 236px; }
.on-8x7 { height: 236px; }
.on-9x7 { height: 236px; }
.on-10x7 { height: 236px; }
.on-11x7 { height: 236px; }
.on-12x7 { height: 236px; }
.on-13x7 { height: 236px; }
.on-14x7 { height: 236px; }
.on-15x7 { height: 236px; }
.on-16x7 { height: 236px; }
.on-17x7 { height: 236px; }
.on-18x7 { height: 236px; }
.on-19x7 { height: 236px; }
.on-20x7 { height: 236px; }
.on-21x7 { height: 236px; }
.on-22x7 { height: 236px; }
.on-23x7 { height: 236px; }
.on-24x7 { height: 236px; }
.on-25x7 { height: 236px; }
.on-26x7 { height: 236px; }
.on-27x7 { height: 236px; }

.on-8rows { height: 271px; }
.on-1x8 { height: 271px; }
.on-2x8 { height: 271px; }
.on-3x8 { height: 271px; }
.on-4x8 { height: 271px; }
.on-5x8 { height: 271px; }
.on-6x8 { height: 271px; }
.on-7x8 { height: 271px; }
.on-8x8 { height: 271px; }
.on-9x8 { height: 271px; }
.on-10x8 { height: 271px; }
.on-11x8 { height: 271px; }
.on-12x8 { height: 271px; }
.on-13x8 { height: 271px; }
.on-14x8 { height: 271px; }
.on-15x8 { height: 271px; }
.on-16x8 { height: 271px; }
.on-17x8 { height: 271px; }
.on-18x8 { height: 271px; }
.on-19x8 { height: 271px; }
.on-20x8 { height: 271px; }
.on-21x8 { height: 271px; }
.on-22x8 { height: 271px; }
.on-23x8 { height: 271px; }
.on-24x8 { height: 271px; }
.on-25x8 { height: 271px; }
.on-26x8 { height: 271px; }
.on-27x8 { height: 271px; }

.on-9rows { height: 306px; }
.on-2x9 { height: 306px; }
.on-3x9 { height: 306px; }
.on-4x9 { height: 306px; }
.on-5x9 { height: 306px; }
.on-6x9 { height: 306px; }
.on-7x9 { height: 306px; }
.on-8x9 { height: 306px; }
.on-9x9 { height: 306px; }
.on-10x9 { height: 306px; }
.on-11x9 { height: 306px; }
.on-12x9 { height: 306px; }
.on-13x9 { height: 306px; }
.on-14x9 { height: 306px; }
.on-15x9 { height: 306px; }
.on-16x9 { height: 306px; }
.on-17x9 { height: 306px; }
.on-18x9 { height: 306px; }
.on-19x9 { height: 306px; }
.on-20x9 { height: 306px; }
.on-21x9 { height: 306px; }
.on-22x9 { height: 306px; }
.on-23x9 { height: 306px; }
.on-24x9 { height: 306px; }
.on-25x9 { height: 306px; }
.on-26x9 { height: 306px; }
.on-27x9 { height: 306px; }

.on-10rows { height: 341px; }
.on-1x10 { height: 341px; }
.on-2x10 { height: 341px; }
.on-3x10 { height: 341px; }
.on-4x10 { height: 341px; }
.on-5x10 { height: 341px; }
.on-6x10 { height: 341px; }
.on-7x10 { height: 341px; }
.on-8x10 { height: 341px; }
.on-9x10 { height: 341px; }
.on-10x10 { height: 341px; }
.on-11x10 { height: 341px; }
.on-12x10 { height: 341px; }
.on-13x10 { height: 341px; }
.on-14x10 { height: 341px; }
.on-15x10 { height: 341px; }
.on-16x10 { height: 341px; }
.on-17x10 { height: 341px; }
.on-18x10 { height: 341px; }
.on-19x10 { height: 341px; }
.on-20x10 { height: 341px; }
.on-21x10 { height: 341px; }
.on-22x10 { height: 341px; }
.on-23x10 { height: 341px; }
.on-24x10 { height: 341px; }
.on-25x10 { height: 341px; }
.on-26x10 { height: 341px; }
.on-27x10 { height: 341px; }

.on-11rows { height: 376px; }
.on-1x11 { height: 376px; }
.on-2x11 { height: 376px; }
.on-3x11 { height: 376px; }
.on-4x11 { height: 376px; }
.on-5x11 { height: 376px; }
.on-6x11 { height: 376px; }
.on-7x11 { height: 376px; }
.on-8x11 { height: 376px; }
.on-9x11 { height: 376px; }
.on-10x11 { height: 376px; }
.on-11x11 { height: 376px; }
.on-12x11 { height: 376px; }
.on-13x11 { height: 376px; }
.on-14x11 { height: 376px; }
.on-15x11 { height: 376px; }
.on-16x11 { height: 376px; }
.on-17x11 { height: 376px; }
.on-18x11 { height: 376px; }
.on-19x11 { height: 376px; }
.on-20x11 { height: 376px; }
.on-21x11 { height: 376px; }
.on-22x11 { height: 376px; }
.on-23x11 { height: 376px; }
.on-24x11 { height: 376px; }
.on-25x11 { height: 376px; }
.on-26x11 { height: 376px; }
.on-27x11 { height: 376px; }

.on-12rows { height: 411px; }
.on-1x12 { height: 411px; }
.on-2x12 { height: 411px; }
.on-3x12 { height: 411px; }
.on-4x12 { height: 411px; }
.on-5x12 { height: 411px; }
.on-6x12 { height: 411px; }
.on-7x12 { height: 411px; }
.on-8x12 { height: 411px; }
.on-9x12 { height: 411px; }
.on-10x12 { height: 411px; }
.on-11x12 { height: 411px; }
.on-12x12 { height: 411px; }
.on-13x12 { height: 411px; }
.on-14x12 { height: 411px; }
.on-15x12 { height: 411px; }
.on-16x12 { height: 411px; }
.on-17x12 { height: 411px; }
.on-18x12 { height: 411px; }
.on-19x12 { height: 411px; }
.on-20x12 { height: 411px; }
.on-21x12 { height: 411px; }
.on-22x12 { height: 411px; }
.on-23x12 { height: 411px; }
.on-24x12 { height: 411px; }
.on-25x12 { height: 411px; }
.on-26x12 { height: 411px; }
.on-27x12 { height: 411px; }

.on-13rows { height: 446px; }
.on-1x13 { height: 446px; }
.on-2x13 { height: 446px; }
.on-3x13 { height: 446px; }
.on-4x13 { height: 446px; }
.on-5x13 { height: 446px; }
.on-6x13 { height: 446px; }
.on-7x13 { height: 446px; }
.on-8x13 { height: 446px; }
.on-9x13 { height: 446px; }
.on-10x13 { height: 446px; }
.on-11x13 { height: 446px; }
.on-12x13 { height: 446px; }
.on-13x13 { height: 446px; }
.on-14x13 { height: 446px; }
.on-15x13 { height: 446px; }
.on-16x13 { height: 446px; }
.on-17x13 { height: 446px; }
.on-18x13 { height: 446px; }
.on-19x13 { height: 446px; }
.on-20x13 { height: 446px; }
.on-21x13 { height: 446px; }
.on-22x13 { height: 446px; }
.on-23x13 { height: 446px; }
.on-24x13 { height: 446px; }
.on-25x13 { height: 446px; }
.on-26x13 { height: 446px; }
.on-27x13 { height: 446px; }

.on-14rows { height: 481px; }
.on-1x14 { height: 481px; }
.on-2x14 { height: 481px; }
.on-3x14 { height: 481px; }
.on-4x14 { height: 481px; }
.on-5x14 { height: 481px; }
.on-6x14 { height: 481px; }
.on-7x14 { height: 481px; }
.on-8x14 { height: 481px; }
.on-9x14 { height: 481px; }
.on-10x14 { height: 481px; }
.on-11x14 { height: 481px; }
.on-12x14 { height: 481px; }
.on-13x14 { height: 481px; }
.on-14x14 { height: 481px; }
.on-15x14 { height: 481px; }
.on-16x14 { height: 481px; }
.on-17x14 { height: 481px; }
.on-18x14 { height: 481px; }
.on-19x14 { height: 481px; }
.on-20x14 { height: 481px; }
.on-21x14 { height: 481px; }
.on-22x14 { height: 481px; }
.on-23x14 { height: 481px; }
.on-24x14 { height: 481px; }
.on-25x14 { height: 481px; }
.on-26x14 { height: 481px; }
.on-27x14 { height: 481px; }

.on-15rows { height: 516px; }
.on-1x15 { height: 516px; }
.on-2x15 { height: 516px; }
.on-3x15 { height: 516px; }
.on-4x15 { height: 516px; }
.on-5x15 { height: 516px; }
.on-6x15 { height: 516px; }
.on-7x15 { height: 516px; }
.on-8x15 { height: 516px; }
.on-9x15 { height: 516px; }
.on-10x15 { height: 516px; }
.on-11x15 { height: 516px; }
.on-12x15 { height: 516px; }
.on-13x15 { height: 516px; }
.on-14x15 { height: 516px; }
.on-15x15 { height: 516px; }
.on-16x15 { height: 516px; }
.on-17x15 { height: 516px; }
.on-18x15 { height: 516px; }
.on-19x15 { height: 516px; }
.on-20x15 { height: 516px; }
.on-21x15 { height: 516px; }
.on-22x15 { height: 516px; }
.on-23x15 { height: 516px; }
.on-24x15 { height: 516px; }
.on-25x15 { height: 516px; }
.on-26x15 { height: 516px; }
.on-27x15 { height: 516px; }

