/*
 * File: layout.css
 * Styles for layout using a grid system
 *
 * Author:  Eric Bréchemier
 * License: http://creativecommons.org/licenses/BSD/
 * Version: 2012-01-13
 */

/*
 A grid system, for a 960 x 540 pixels display.

 Each cell is 26px wide and 26px tall.
 Cells are separated from other cells by a 9px gutter and from the edge of the
 screen by a 12px gutter.

 Columns are addressed with letters from A to AA;
 lines with numbers from 1 to 15.

  |->   12px, 26px, 9px, 26px, 9px, 26px, 9px, ..., 26px, 9px, 26px, 12px
  v    ----------------------------------------------------------------------
 12px |
 26px |       A1         B1         C1         ...  Z1         AA1
  9px |
 26px |       A2         B2         C2         ...  Z2         AA2
  9px |
 26px |       A3         B3         C3         ...  Z3         AA3
  9px |
      |       ...        ...        ...        ...  ...        ...
  9px |
 26px |       A15        B15        C15        ...  Z15        AA15
 12px |
 */

.fullscreen {
  left: 0px;
  top: 0px;
  width: 960px;
  height: 540px;
}

.top-half {
  left: 0px;
  top: 0px;
  width: 960px;
  height: 270px;
}

.bottom-half {
  left: 0px;
  top: 270px;
  width: 960px;
  height: 270px;
}

.left-half {
  left: 0px;
  top: 0px;
  width: 480px;
  height: 540px;
}

.right-half {
  left: 480px;
  top: 0px;
  width: 480px;
  height: 540px;
}

.north-west {
  left:  12px;
  top: 12px;
  width: 306px;
  height: 166px;
}

.west {
  left:  12px;
  top: 187px;
  width: 306px;
  height: 166px;
}

.south-west {
  left:  12px;
  top: 362px;
  width: 306px;
  height: 166px;
}

.north {
  left: 327px;
  top: 12px;
  width: 306px;
  height: 166px;
}

.center {
  left: 327px;
  top: 187px;
  width: 306px;
  height: 166px;
}

.south {
  left: 327px;
  top: 362px;
  width: 306px;
  height: 166px;
}

.north-east {
  left: 642px;
  top: 12px;
  width: 306px;
  height: 166px;
}

.east {
  left: 642px;
  top: 187px;
  width: 306px;
  height: 166px;
}

.south-east {
  left: 642px;
  top: 362px;
  width: 306px;
  height: 166px;
}

.cell {
  width: 26px;
  height: 26px;
}

.column {
  width: 26px;
  height: 516px;
}

.row {
  height: 26px;
  width: 936px;
}

.one-third-wide {
  width: 306px;
}

.two-thirds-wide {
  width: 621px;
}

.three-thirds-wide {
  width: 936px;
}

.one-third-high {
  height: 166px;
}

.two-thirds-high {
  height: 341px;
}

.three-thirds-high {
  height: 516px;
}

/* columns */

.colA { left: 12px; }
.colB { left:  47px; }
.colC { left:  82px; }
.colD { left: 117px; }
.colE { left: 152px; }
.colF { left: 187px; }
.colG { left: 222px; }
.colH { left: 257px; }
.colI { left: 292px; }
.colJ { left: 327px; }
.colK { left: 362px; }
.colL { left: 397px; }
.colM { left: 432px; }
.colN { left: 467px; }
.colO { left: 502px; }
.colP { left: 537px; }
.colQ { left: 572px; }
.colR { left: 607px; }
.colS { left: 642px; }
.colT { left: 677px; }
.colU { left: 712px; }
.colV { left: 747px; }
.colW { left: 782px; }
.colX { left: 817px; }
.colY { left: 852px; }
.colZ { left: 887px; }
.colAA { left: 922px; }

/* rows */

.row1 { top: 12px; }
.row2 { top: 47px; }
.row3 { top: 82px; }
.row4 { top: 117px; }
.row5 { top: 152px; }
.row6 { top: 187px; }
.row7 { top: 222px; }
.row8 { top: 257px; }
.row9 { top: 292px; }
.row10 { top: 327px; }
.row11 { top: 362px; }
.row12 { top: 397px; }
.row13 { top: 432px; }
.row14 { top: 467px; }
.row15 { top: 502px; }

/* width in columns */

.on-1col { width: 26px; }
.on-2cols { width: 61px; }
.on-3cols { width: 96px; }
.on-4cols { width: 131px; }
.on-5cols { width: 166px; }
.on-6cols { width: 201px; }
.on-7cols { width: 236px; }
.on-8cols { width: 271px; }
.on-9cols { width: 306px; }
.on-10cols { width: 341px; }
.on-11cols { width: 376px; }
.on-12cols { width: 411px; }
.on-13cols { width: 446px; }
.on-14cols { width: 481px; }
.on-15cols { width: 516px; }
.on-16cols { width: 551px; }
.on-17cols { width: 586px; }
.on-18cols { width: 621px; }
.on-19cols { width: 656px; }
.on-20cols { width: 691px; }
.on-21cols { width: 726px; }
.on-22cols { width: 761px; }
.on-23cols { width: 796px; }
.on-24cols { width: 831px; }
.on-25cols { width: 866px; }
.on-26cols { width: 901px; }
.on-27cols { width: 936px; }

/* height in rows */

.on-1row { height: 26px; }
.on-2rows { height: 61px; }
.on-3rows { height: 96px; }
.on-4rows { height: 131px; }
.on-5rows { height: 166px; }
.on-6rows { height: 201px; }
.on-7rows { height: 236px; }
.on-8rows { height: 271px; }
.on-9rows { height: 306px; }
.on-10rows { height: 341px; }
.on-11rows { height: 376px; }
.on-12rows { height: 411px; }
.on-13rows { height: 446px; }
.on-14rows { height: 481px; }
.on-15rows { height: 516px; }
