/*
 * File: navigation.css
 * Styles for focus of navigation links
 *
 * Author:  Eric Bréchemier
 * License: http://creativecommons.org/licenses/BSD/
 * Version: 2012-01-13
 */

/* Styles for links in default/focused/active states
   Defined for anchor elements and any element with the class 'link'
 */

a {
  border-width:   2px;
  border-style: dotted;
  border-top-color-index:    8;
  border-right-color-index:  8;
  border-bottom-color-index: 8;
  border-left-color-index:   8;
  grayscale-color-index:  8  8;
  color-index: 4;
}
a:focus {
  border-top-color-index:    1;
  border-right-color-index:  1;
  border-bottom-color-index: 1;
  border-left-color-index:   1;
  grayscale-color-index:   4 4;
  color-index: 6;
  font-weight: bold;
}
a:active {
  border-top-color-index:    3;
  border-right-color-index:  3;
  border-bottom-color-index: 3;
  border-left-color-index:   3;
  color-index: 3;
}

.link {
  border-width:   2px;
  border-style: dotted;
  border-top-color-index:    8;
  border-right-color-index:  8;
  border-bottom-color-index: 8;
  border-left-color-index:   8;
  grayscale-color-index:  8  8;
  color-index: 4;
}
.link:focus {
  border-top-color-index:    1;
  border-right-color-index:  1;
  border-bottom-color-index: 1;
  border-left-color-index:   1;
  grayscale-color-index:   4 4;
  color-index: 6;
  font-weight: bold;
}
.link:active {
  border-top-color-index:    3;
  border-right-color-index:  3;
  border-bottom-color-index: 3;
  border-left-color-index:   3;
  color-index: 3;
}

/* Navigation index definition
   By default, link{N} is after-link{N-1} and before-link{N+1}
   therefore below-link{N-1} and above-link{N+1}
 */
.link1 {nav-index:  0; nav-left:  0; nav-up:  0; nav-right:  1; nav-down:  1;}
.link2 {nav-index:  1; nav-left:  0; nav-up:  0; nav-right:  2; nav-down:  2;}
.link3 {nav-index:  2; nav-left:  1; nav-up:  1; nav-right:  3; nav-down:  3;}
.link4 {nav-index:  3; nav-left:  2; nav-up:  2; nav-right:  4; nav-down:  4;}
.link5 {nav-index:  4; nav-left:  3; nav-up:  3; nav-right:  5; nav-down:  5;}
.link6 {nav-index:  5; nav-left:  4; nav-up:  4; nav-right:  6; nav-down:  6;}
.link7 {nav-index:  6; nav-left:  5; nav-up:  5; nav-right:  7; nav-down:  7;}
.link8 {nav-index:  7; nav-left:  6; nav-up:  6; nav-right:  8; nav-down:  8;}
.link9 {nav-index:  8; nav-left:  7; nav-up:  7; nav-right:  9; nav-down:  9;}
.link10{nav-index:  9; nav-left:  8; nav-up:  8; nav-right: 10; nav-down: 10;}
.link11{nav-index: 10; nav-left:  9; nav-up:  9; nav-right: 11; nav-down: 11;}
.link12{nav-index: 11; nav-left: 10; nav-up: 10; nav-right: 12; nav-down: 12;}
.link13{nav-index: 12; nav-left: 11; nav-up: 11; nav-right: 13; nav-down: 13;}
.link14{nav-index: 13; nav-left: 12; nav-up: 12; nav-right: 14; nav-down: 14;}
.link15{nav-index: 14; nav-left: 13; nav-up: 13; nav-right: 15; nav-down: 15;}
.link16{nav-index: 15; nav-left: 14; nav-up: 14; nav-right: 16; nav-down: 16;}
.link17{nav-index: 16; nav-left: 15; nav-up: 15; nav-right: 17; nav-down: 17;}
.link18{nav-index: 17; nav-left: 16; nav-up: 16; nav-right: 18; nav-down: 18;}
.link19{nav-index: 18; nav-left: 17; nav-up: 17; nav-right: 19; nav-down: 19;}
.link20{nav-index: 19; nav-left: 18; nav-up: 18; nav-right: 20; nav-down: 20;}
.link21{nav-index: 20; nav-left: 19; nav-up: 19; nav-right: 21; nav-down: 21;}
.link22{nav-index: 21; nav-left: 20; nav-up: 20; nav-right: 22; nav-down: 22;}
.link23{nav-index: 22; nav-left: 21; nav-up: 21; nav-right: 23; nav-down: 23;}
.link24{nav-index: 23; nav-left: 22; nav-up: 22; nav-right: 24; nav-down: 24;}
.link25{nav-index: 24; nav-left: 23; nav-up: 23; nav-right: 25; nav-down: 25;}
.link26{nav-index: 25; nav-left: 24; nav-up: 24; nav-right: 26; nav-down: 26;}
.link27{nav-index: 26; nav-left: 25; nav-up: 25; nav-right: 27; nav-down: 27;}
.link28{nav-index: 27; nav-left: 26; nav-up: 26; nav-right: 28; nav-down: 28;}
.link29{nav-index: 28; nav-left: 27; nav-up: 27; nav-right: 29; nav-down: 29;}
.link30{nav-index: 29; nav-left: 28; nav-up: 28; nav-right: 30; nav-down: 30;}
.link31{nav-index: 30; nav-left: 29; nav-up: 29; nav-right: 31; nav-down: 31;}
.link32{nav-index: 31; nav-left: 30; nav-up: 30; nav-right: 32; nav-down: 32;}

/* By default after-link{N} is also below-link{N} */
.after-link1  { nav-left:  0; nav-up:  0; }
.after-link2  { nav-left:  1; nav-up:  1; }
.after-link3  { nav-left:  2; nav-up:  2; }
.after-link4  { nav-left:  3; nav-up:  3; }
.after-link5  { nav-left:  4; nav-up:  4; }
.after-link6  { nav-left:  5; nav-up:  5; }
.after-link7  { nav-left:  6; nav-up:  6; }
.after-link8  { nav-left:  7; nav-up:  7; }
.after-link9  { nav-left:  8; nav-up:  8; }
.after-link10 { nav-left:  9; nav-up:  9; }
.after-link11 { nav-left: 10; nav-up: 10; }
.after-link12 { nav-left: 11; nav-up: 11; }
.after-link13 { nav-left: 12; nav-up: 12; }
.after-link14 { nav-left: 13; nav-up: 13; }
.after-link15 { nav-left: 14; nav-up: 14; }
.after-link16 { nav-left: 15; nav-up: 15; }
.after-link17 { nav-left: 16; nav-up: 16; }
.after-link18 { nav-left: 17; nav-up: 17; }
.after-link19 { nav-left: 18; nav-up: 18; }
.after-link20 { nav-left: 19; nav-up: 19; }
.after-link21 { nav-left: 20; nav-up: 20; }
.after-link22 { nav-left: 21; nav-up: 21; }
.after-link23 { nav-left: 22; nav-up: 22; }
.after-link24 { nav-left: 23; nav-up: 23; }
.after-link25 { nav-left: 24; nav-up: 24; }
.after-link26 { nav-left: 25; nav-up: 25; }
.after-link27 { nav-left: 26; nav-up: 26; }
.after-link28 { nav-left: 27; nav-up: 27; }
.after-link29 { nav-left: 28; nav-up: 28; }
.after-link30 { nav-left: 29; nav-up: 29; }
.after-link31 { nav-left: 30; nav-up: 30; }
.after-link32 { nav-left: 31; nav-up: 31; }

/* By default before-link{N} is also above-link{N} */
.before-link1  { nav-right:  0; nav-down:  0; }
.before-link2  { nav-right:  1; nav-down:  1; }
.before-link3  { nav-right:  2; nav-down:  2; }
.before-link4  { nav-right:  3; nav-down:  3; }
.before-link5  { nav-right:  4; nav-down:  4; }
.before-link6  { nav-right:  5; nav-down:  5; }
.before-link7  { nav-right:  6; nav-down:  6; }
.before-link8  { nav-right:  7; nav-down:  7; }
.before-link9  { nav-right:  8; nav-down:  8; }
.before-link10 { nav-right:  9; nav-down:  9; }
.before-link11 { nav-right: 10; nav-down: 10; }
.before-link12 { nav-right: 11; nav-down: 11; }
.before-link13 { nav-right: 12; nav-down: 12; }
.before-link14 { nav-right: 13; nav-down: 13; }
.before-link15 { nav-right: 14; nav-down: 14; }
.before-link16 { nav-right: 15; nav-down: 15; }
.before-link17 { nav-right: 16; nav-down: 16; }
.before-link18 { nav-right: 17; nav-down: 17; }
.before-link19 { nav-right: 18; nav-down: 18; }
.before-link20 { nav-right: 19; nav-down: 19; }
.before-link21 { nav-right: 20; nav-down: 20; }
.before-link22 { nav-right: 21; nav-down: 21; }
.before-link23 { nav-right: 22; nav-down: 22; }
.before-link24 { nav-right: 23; nav-down: 23; }
.before-link25 { nav-right: 24; nav-down: 24; }
.before-link26 { nav-right: 25; nav-down: 25; }
.before-link27 { nav-right: 26; nav-down: 26; }
.before-link28 { nav-right: 27; nav-down: 27; }
.before-link29 { nav-right: 28; nav-down: 28; }
.before-link30 { nav-right: 29; nav-down: 29; }
.before-link31 { nav-right: 30; nav-down: 30; }
.before-link32 { nav-right: 31; nav-down: 31; }

/* above-link{N} */
.above-link1  { nav-down:  0; }
.above-link2  { nav-down:  1; }
.above-link3  { nav-down:  2; }
.above-link4  { nav-down:  3; }
.above-link5  { nav-down:  4; }
.above-link6  { nav-down:  5; }
.above-link7  { nav-down:  6; }
.above-link8  { nav-down:  7; }
.above-link9  { nav-down:  8; }
.above-link10 { nav-down:  9; }
.above-link11 { nav-down: 10; }
.above-link12 { nav-down: 11; }
.above-link13 { nav-down: 12; }
.above-link14 { nav-down: 13; }
.above-link15 { nav-down: 14; }
.above-link16 { nav-down: 15; }
.above-link17 { nav-down: 16; }
.above-link18 { nav-down: 17; }
.above-link19 { nav-down: 18; }
.above-link20 { nav-down: 19; }
.above-link21 { nav-down: 20; }
.above-link22 { nav-down: 21; }
.above-link23 { nav-down: 22; }
.above-link24 { nav-down: 23; }
.above-link25 { nav-down: 24; }
.above-link26 { nav-down: 25; }
.above-link27 { nav-down: 26; }
.above-link28 { nav-down: 27; }
.above-link29 { nav-down: 28; }
.above-link30 { nav-down: 29; }
.above-link31 { nav-down: 30; }
.above-link32 { nav-down: 31; }

/* below-link{N} */
.below-link1  { nav-up:  0; }
.below-link2  { nav-up:  1; }
.below-link3  { nav-up:  2; }
.below-link4  { nav-up:  3; }
.below-link5  { nav-up:  4; }
.below-link6  { nav-up:  5; }
.below-link7  { nav-up:  6; }
.below-link8  { nav-up:  7; }
.below-link9  { nav-up:  8; }
.below-link10 { nav-up:  9; }
.below-link11 { nav-up: 10; }
.below-link12 { nav-up: 11; }
.below-link13 { nav-up: 12; }
.below-link14 { nav-up: 13; }
.below-link15 { nav-up: 14; }
.below-link16 { nav-up: 15; }
.below-link17 { nav-up: 16; }
.below-link18 { nav-up: 17; }
.below-link19 { nav-up: 18; }
.below-link20 { nav-up: 19; }
.below-link21 { nav-up: 20; }
.below-link22 { nav-up: 21; }
.below-link23 { nav-up: 22; }
.below-link24 { nav-up: 23; }
.below-link25 { nav-up: 24; }
.below-link26 { nav-up: 25; }
.below-link27 { nav-up: 26; }
.below-link28 { nav-up: 27; }
.below-link29 { nav-up: 28; }
.below-link30 { nav-up: 29; }
.below-link31 { nav-up: 30; }
.below-link32 { nav-up: 31; }

