/*
 * File: typography.css
 * Styles for text
 *
 * Author:  Eric Bréchemier
 * License: http://creativecommons.org/licenses/BSD/
 * Version: 2012-01-20
 */

/* Define default line-height to match the height of a row in the grid layout,
   in order to center the text vertically in one cell */
div {
  line-height: 26px;
}
p {
  line-height: 26px;
}

/* font size and associated line height */
/* These font sizes follow a Double-Stranded Fibonacci series,
   inspired by the one described in [1].

   [1] Design for Software: Typography Part 1
   by Erik Klimczak
   http://blogs.claritycon.com/design/2011/08/14/design-for-software-typography-part-1/
*/
/* center vertically in one cell */
.xx-small  { font-size: 14px; line-height: 26px; }
.x-small   { font-size: 16px; line-height: 26px; }
.small     { font-size: 20px; line-height: 26px; }
.medium    { font-size: 24px; line-height: 26px; }
/* center vertically in two cells */
.large     { font-size: 34px; line-height: 61px; }
.x-large   { font-size: 40px; line-height: 61px; }
.xx-large  { font-size: 48px; line-height: 61px; }
/* Note: the largest font size available in LIME Viewer is 49px */

/* letter spacing */
.xx-narrow  { letter-spacing: -4px; }
.x-narrow   { letter-spacing: -2px; }
.narrow     { letter-spacing: -1px; }
.wide       { letter-spacing:  1px; }
.x-wide     { letter-spacing:  4px; }
.xx-wide    { letter-spacing:  8px; }

/* text alignment */
.align-left    { text-align: left; }
.align-center  { text-align: center; }
.align-right   { text-align: right; }

/* font-weight */
.bold { font-weight: bold; }

/* font-family, default is "round gothic" */
/*
  TODO: check on TV, according to ARIB STD B24 V5.0 Volume 2 (2/2),
  Each font is only available in following font sizes:
  - round gothic: 16px, 20px, 24px, 30px, 36px
  - bold round gothic: 30px,
  - square gothic: 20px, 24px
*/
.round-gothic { font-family: "round gothic"; }
.round-gothic-bold { font-family: "bold round gothic"; }
.square-gothic { font-family: "square gothic"; }
