/*
 * File: typography.css
 * Styles for text
 *
 * Author:  Eric Bréchemier
 * License: http://creativecommons.org/licenses/BSD/
 * Version: 2011-08-03
 */

/* Define default line-height to match the height of a row in the grid layout,
   in order to center the text vertically in one cell */
div, p {
  line-height: 30px;
}

/* font size and associated line height */
.xx-small  { font-size: 14px; line-height: 30px; }
.x-small   { font-size: 16px; line-height: 30px; }
.small     { font-size: 20px; line-height: 30px; }
.medium    { font-size: 24px; line-height: 30px; }
.large     { font-size: 28px; line-height: 30px; }
.x-large   { font-size: 36px; line-height: 60px; }
.xx-large  { font-size: 48px; line-height: 60px; }

/* letter spacing */
.xx-narrow  { letter-spacing: -4px; }
.x-narrow   { letter-spacing: -2px; }
.narrow     { letter-spacing: -1px; }
.wide       { letter-spacing:  1px; }
.x-wide     { letter-spacing:  4px; }
.xx-wide    { letter-spacing:  8px; }

/* text alignment */
.left    { text-align: left; }
.center  { text-align: center; }
.right   { text-align: right; }

/* font-weight */
.bold { font-weight: bold; }

