.underline {
  border-style: solid;
  border-width: 1px;
  border-top-color-index:    8;
  border-right-color-index:  8;
  border-left-color-index:   8;
}
.underline:focus {
  border-top-color-index:    8;
  border-right-color-index:  8;
  border-left-color-index:   8;
}
.underline:active {
  border-top-color-index:    8;
  border-right-color-index:  8;
  border-left-color-index:   8;
}
