@import url("screen/colors.css") screen;

/* foreground colors (text and border) */
.black   { color-index: 0; border-color-index: 0; }
.red     { color-index: 1; border-color-index: 1; }
.green   { color-index: 2; border-color-index: 2; }
.yellow  { color-index: 3; border-color-index: 3; }
.blue    { color-index: 4; border-color-index: 4; }
.magenta { color-index: 5; border-color-index: 5; }
.cyan    { color-index: 6; border-color-index: 6; }
.white   { color-index: 7; border-color-index: 7; }
.transparent { color-index: 8; border-color-index: 8; }

/* background colors */
.onblack   { background-color-index:0; }
.onred     { background-color-index:1; }
.ongreen   { background-color-index:2; }
.onyellow  { background-color-index:3; }
.onblue    { background-color-index:4; }
.onmagenta { background-color-index:5; }
.oncyan    { background-color-index:6; }
.onwhite   { background-color-index:7; }
.ontransparent { background-color-index:8; }

