<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://itu.int/challenge/iptv"
  id="https://github.com/eric-brechemier/lime-starter-kit.git"
  width="960" height="540"
  viewmodes="fullscreen"
  version="2011-10-01">
  <name>LIME Starter Kit Lab</name>
  <description xml:lang="en">Experiments part of LIME Starter Kit</description>
  <author
    href="http://eric.brechemier.name"
    email="lime@eric.brechemier.name"
    >Eric Bréchemier</author>
  <license>BSD License - http://creativecommons.org/licenses/BSD/</license>
  <language>en</language>
  <icon src="media/icon.png" />
  <content src="index.bml" type="application/x-lime" />
  <tag>lime tv opensource development github</tag>
</widget>
